/* Buttons */
.btn {
  display:inline-block;
  width: auto;
  border: 0;
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  transition: all 150ms ease;
  padding:5px 10px;

  &:disabled {
    position: relative;
    pointer-events: none;
    cursor: default;
  }
  &:focus {
    opacity:0.6;
    outline:none;
  }
  &__circle {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    padding: 25px 15px;
    line-height: 15px;
  }
  &__small-circle {
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -o-border-radius: 70px;
    border-radius: 70px;
    padding: 35px;
    line-height: 20px;
    display: none;
    font-size:25px;
    border:0;
    &:focus {
      opacity:0.6;
      outline:none;
    }
    @media only screen and (max-width: 478px) {
      font-size:16px;
      padding: 15px 23px;
    }
  }
  &__color-green {
    background-color: $color-green;
    color: lighten($color-white, 6.8%);
    &:hover, &:active {
      background-color: darken($color-green, 10%);
      color: lighten($color-white, 6.8%);
    }
    &:disabled {
      background-color: lighten($color-green, 15%);
      color: rgba($color-white, 0.5);
    }
  }
  &__color-red {
    background-color: $color-red;
    color: lighten($color-white, 6.8%);
    &:hover, &:active {
      background-color: darken($color-red, 10%);
      color: lighten($color-white, 6.8%);
    }
    &:disabled {
      background-color: lighten($color-red, 15%);
      color: rgba($color-white, 0.5);
    }
  }
  &__color-gray {
    background-color: $color-gray;
    color: lighten($color-white, 6.8%);
    &:hover, &:active {
      background-color: darken($color-gray, 10%);
      color: lighten($color-white, 6.8%);
    }
    &:disabled {
      background-color: lighten($color-gray, 15%);
      color: rgba($color-white, 0.5);
    }
  }
  &__color-yellow {
    background-color: $color-blue;
    color: lighten($color-white, 6.8%);
    &:hover, &:active {
      background-color: darken($color-blue, 10%);
      color: lighten($color-white, 6.8%);
    }
    &:disabled {
      background-color: lighten($color-blue, 15%);
      color: rgba($color-white, 0.5);
    }
  }
  &__color-blue {
    background-color: $color-yellow;
    color: lighten($color-white, 6.8%);
    &:hover, &:active {
      background-color: darken($color-yellow, 10%);
      color: lighten($color-white, 6.8%);
    }
    &:disabled {
      background-color: lighten($color-yellow, 15%);
      color: rgba($color-white, 0.5);
    }
  }
  &-ico {
    &__paper, &__scissors, &__rock, &__lizard {
      @extend .btn__small-circle;
    }
    &__paper {
      @extend .btn__color-yellow;
    }
    &__scissors {
      @extend .btn__color-green;
    }
    &__rock {
      @extend .btn__color-gray;
    }
    &__lizard {
      @extend .btn__color-blue;
    }
  }
}
.fa-star {
  color: $color-yellow;
}