/* Colors */

$color-white: #fff;
.background-white {
  background: $color-white;
}
$color-black: #333;
$color-red: #AD1522;
$color-gray: #777777;
$color-green: #43981a;
$color-yellow: #dad195;
$color-blue: #48c0e3;